.pageLoader {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background: transparent;

  circle,
  rect,
  line {
    stroke-width: 10px;
    stroke-linecap: round;
    fill: transparent;
  }
}
