.co-menu {
  .co-menu--paper {
    background: var(--menu-bg);
  }
}


.co-menu--list {
  background: var(--menu-bg);

  .co-menu--item {
    color: var(--primary-color);

    &, p {
      font-family: var(--app-font-family);
      font-weight: 500;
      font-size: 20px;
      text-transform: capitalize;
    }
  }
}