.co-menu {
  .co-menu--paper {
    background: var(--menu-bg);
  }
}


.co-menu--list {
  display: flex;
  background: var(--menu-bg);

  &__column {
    flex-direction: column;
  }

  .co-menu--item {
    padding: 8px 16px;
    color: var(--secondary-color);

    &[data-active=true] {
      color: var(--accent-color);
    }

    &, p {
      font-family: var(--app-font-family), serif;
      font-weight: 500;
      font-size: 20px;
      text-transform: capitalize;
    }
  }
}