:root {
  --app-font-family: Vollkorn, sans-serif;
}

:root[data-theme='light'] {
  --primary-color: #0f172a;
  --secondary-color: #64748b;
  --accent-color: #e30c2d;
  --app-bg: rgba(255, 255, 255, 0.5);
  --app-bar-bg: #ffffff;
  --app-bar-color: #0f172a;
  --theme-switcher-thumb-bg: #0f172a;
  --theme-switcher-track-bg: #aab4be;
  --menu-bg: #ffffff;
}

:root[data-theme='dark'] {
  --primary-color: rgb(255 243 226);
  --secondary-color: #94a3b8;
  --accent-color: #22d3ee;
  --app-bg: #0f172a;
  --app-bar-bg: #1e293b;
  --app-bar-color: #fff3e2;
  --theme-switcher-thumb-bg:  #fff3e2;
  --theme-switcher-track-bg: #aab4be;
  --menu-bg: #1e293b;
 }

