:root {
  --app-font-family: vollkorn, sans-serif;
}

:root[data-theme$='light'] {
  --primary-color: #0f172a;
  --secondary-color: #64748b;
  --accent-color: #e30c2d;
  --app-bg: rgb(255 255 255 / 50%);
  --app-bar-bg: #fff;
  --app-bar-color: #0f172a;
  --theme-switcher-thumb-bg: #0f172a;
  --theme-switcher-track-bg: #aab4be;
  --menu-bg: #fff;
  --popper-shadow: rgb(0 0 0 / 20%) 0px 5px 5px -3px, rgb(0 0 0 / 14%) 0px 8px 10px 1px, rgb(0 0 0 / 12%) 0px 3px 14px 2px;
  --text-field-border-color: #0f172a;
}

:root[data-theme$='dark'] {
  --primary-color: rgb(255 243 226);
  --secondary-color: #94a3b8;
  --accent-color: #22d3ee;
  --app-bg: #0f172a;
  --app-bar-bg: #1e293b;
  --app-bar-color: #fff3e2;
  --theme-switcher-thumb-bg: #fff3e2;
  --theme-switcher-track-bg: #aab4be;
  --menu-bg: #1e293b;
  --popper-shadow: rgb(0 0 0 / 20%) 0px 5px 5px -3px, rgb(0 0 0 / 14%) 0px 8px 10px 1px, rgb(0 0 0 / 12%) 0px 3px 14px 2px;
  --text-field-border-color: #22d3ee
}

