body {
  .themeBtnRoot {
    width: 100px;
    border-color: var(--text-field-border-color);
    color: var(--secondary-color);

    &:hover {
      border-color: var(--text-field-border-color);
    }
  }

  .themeBtnRootFullWidth {
    width: 100%;
  }

  .themeArrow {
    width: 40px;
    border-color: var(--text-field-border-color);
    color: var(--text-field-border-color);

    &:hover {
      border-color: var(--text-field-border-color);
    }
  }
}