$easing: cubic-bezier(.42, 0, .44, 1.68);
$time: 200ms;

body {
  .CoButton {
    position: relative;
    display: flex;
    gap: 10px;
    padding: 4px 7px;
    min-width: fit-content;
    color: var(--primary-color);
    font-size: 16px;
    text-transform: initial;
    border-color: var(--text-field-border-color);

    &:hover {
      background-color: var(--label-bg);
      border-color: white;
      color: var(--label-color);

      svg {
        fill: var(--label-color);

        path {
          fill: var(--label-color);
        }
      }
    }
  }

  .CoButtonWithLabel {
    &:before {
      content: attr(data-label);
      position: absolute;
      background-color: var(--label-bg);
      color: var(--label-color);
      text-decoration: none;
      border-radius: 100px;
      padding: 0.1em .6em;
      font-size: 14px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
      transform: translateY(-20px) rotate(25deg);
      opacity: 0;
      transition: $time $easing;
    }

    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 10px solid var(--label-bg);
      transform: translateY(-2px) rotate(25deg);
      opacity: 0;
      transition: $time $easing;
    }

    &:hover {
      &::before {
        opacity: 1;
        transform: translateY(-42px) rotate(0);
      }

      &::after {
        opacity: 1;
        transform: translateY(-24px) rotate(0);
      }
    }
  }

  .CoButtonText {
    font-weight: bold;
    font-family: var(--app-font-family), serif;
  }
}