.card {
    position: relative;
    z-index: 1;
    padding: 3px;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
}

.inner {
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    min-width: 50px;
    min-height: 50px;
    background: hsl(var(--background));
}

.inner::after, .inner::before {
    --angle: 45deg;

    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: conic-gradient(from var(--angle), #ff4545, #0f9, #006aff, #f09, #ff4545);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 10px;
    z-index: -1;
    animation: 3s spin linear infinite;
}

 .inner::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@supports (background: paint(houdini)) {
    @property --angle {
        syntax: "<angle>";
        initial-value: 0deg;
        inherits: false;
    }

    @keyframes spin {
        from {
            --angle: 0deg;
        }

        to {
            --angle: 360deg;
        }
    }
}
 